* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );

  color: white;

  min-height: 100vh;

  padding: 30px 8%;
}

/* NAVBAR */
.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 40px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Logo */

.logo {
  font-size: 28px;
  font-weight: bold;

  color: #60a5fa;
}

/* Navigation */

.nav-links {
  display: flex;

  gap: 30px;

  list-style: none;
}

.nav-links a {
  color: white;

  text-decoration: none;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #60a5fa;
}