* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );

  color: white;

  min-height: 100vh;

  padding: 30px 8%;
}

/* NAVBAR */
.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 40px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Logo */

.logo {
  font-size: 28px;
  font-weight: bold;

  color: #60a5fa;
}

/* Navigation */

.nav-links {
  display: flex;

  gap: 30px;

  list-style: none;
}

.nav-links a {
  color: white;

  text-decoration: none;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #60a5fa;
}

/* HERO SECTION */
.hero {
  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 60px;

  min-height: 90vh;
}

/* Left Content */

.tag {
  color: #60a5fa;

  letter-spacing: 2px;

  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 72px;

  line-height: 1.1;

  margin-bottom: 25px;
}

.description {
  color: #cbd5e1;

  font-size: 18px;

  line-height: 1.8;

  margin-bottom: 40px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;

  gap: 20px;
}

.primary-btn,
.secondary-btn {
  padding: 16px 32px;

  border: none;

  border-radius: 12px;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}

/* Primary */

.primary-btn {
  background: #3b82f6;

  color: white;
}

.primary-btn:hover {
  transform: translateY(-4px);

  background: #2563eb;
}

/* Secondary */

.secondary-btn {
  background: transparent;

  color: white;

  border: 1px solid rgba(255,255,255,0.2);
}

.secondary-btn:hover {
  transform: translateY(-4px);

  background: rgba(255,255,255,0.08);
}

/* HERO VISUAL */
.hero-visual {
  display: flex;

  justify-content: center;
}

.glass-card {
  width: 320px;

  padding: 40px;

  border-radius: 24px;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.glass-card h3 {
  color: #94a3b8;

  margin-bottom: 20px;
}

.glass-card h1 {
  font-size: 64px;

  margin-bottom: 20px;

  color: #60a5fa;
}

/* RESPONSIVE */
@media (max-width: 900px) {

  .hero {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 52px;
  }

}